<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Crear Celebrity</a>
<a href="/celebrities">Lista Celebrities</a>
<br>
<a href="/movies/create">Crear Movie</a>
<a href="/movies">Lista de Movies</a>